.rotate {
  width: 100px;
  height: 100px;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 20px;
  flex-grow: 0.5;
}

.top {
  position: fixed;
}

.dark {
  background-color: rgb(74, 81, 87);
  p,
  button {
    color: white;
  }
  button {
    background-color: rgb(42, 46, 49);
  }
}
